
body {
    font-family: "Lato", sans-serif;
}

/*.nav-item:hover{*/
/*    background: white;*/
/*    color: black;*/
/*}*/
/*.navbar-nav .active{*/
/*    background: linear-gradient(#040806, #0300e6);*/
/*}*/
td{
    vertical-align: middle !important;
}
.dropdown-menu .dropdown-item:hover{
    background: #ff5b5a;
}
.dropdown-menu{
    width: 100%;
    background: #ffffff;
}
/*.dropdown-menu .dropdown-item{*/
/*    color: white;*/
/*}*/
.leftside{
    position: sticky;
    overflow-y: scroll;
}
.rightside{
    /*position: sticky;*/
    /*overflow-y: scroll;*/
    padding: 0;
    margin: 0;
    width: 100%;
}
.dtitle{
    padding-top: 120px;
    padding-left: 15px;
    height: 320px;
    background: rgb(25,11,255);
    background: linear-gradient(90deg, rgba(25,11,255,1) 0%, rgba(59,83,255,1) 35%, rgb(47, 46, 163) 100%);

}
.sidenav {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 62px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}
#openNav , #closeNav{
    position: fixed;
    top: 90px;
    right: 40px;
    font-size:29px;
    cursor:pointer;
}

#openNav{
    display: none;
}
#closeNav{
    display: none;
}

@media screen and (max-width: 766px) {
    .sidenav {
        position: absolute;
        z-index: 2;
        top:0;
        height: 100%;
        width: 0%;
    }
    .leftside{
        position: absolute;
    }
    #openNav{
        display: block;
    }
    #closeNav{
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .sidenav{
        position: absolute;
        z-index: 2;
        top:0;
        height: 100%;
        width: 0%;
    }
    .leftside{
        position: absolute;
    }
    #openNav{
        display: block;
    }
    #closeNav{
        display: block;
    }
}
